{% extends 'base.html' %}

{% block body %}


</div>
	<div>
		<form id="addGoalForm" action="/add_goal" method="POST" enctype="multipart/form-data">
			<h3>Add a note</h3>
			<textarea type="text" name="goal" id="goal" placeholder="I need to..."></textarea>
			<br>
			<br>
			<input type="submit" class="btn btn-dark">
		</form>
	</div>

	<div class="goals-section">
	<br>
		<p id="goal-p">Notes</p>
		<div id="allTheGoals">
			{% if goals %}
				{% for goal in goals %}
				<p>{{goal.goal}}</p> <!--can add an href here-->
				{% endfor %}
			{% endif %}
		</div>
	</div>



{% endblock %}
